.container h2{
	padding-top: 20px;
}

.btn-default {
	background:transparent;
	border-style: solid;
	border-color: lightgray;
}

.card__container{
    min-height: fit-content;
    max-width: 900px;
}

.page-content{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left .3s ease;

}

.form-control{
    max-width: 50%;
}

.card-profile-image img {
    padding-top: 15px;
    padding-bottom: 15px;
    left: 50%;
    max-width: 100px;
    border-radius: 0.375rem;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }

  .container-jefes{
    border: 1px dotted silver;
    .col-sm{
        margin-left: 10px;
    }
  }