.container h2{
	padding-top: 20px;
}

.btn-default {
	background:transparent;
	border-style: solid;
	border-color: lightgray;
}


.card__container{
    min-height: 90vh;
}

.page-content{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left .3s ease;

}

.card-profile-image img {
    padding-top: 15px;
    padding-bottom: 15px;
    left: 50%;
    max-width: 100px;
    border-radius: 0.375rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

i {
    margin-right: 10px;
}

.fixed_headers {
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
    border: dashed 1px silver;
  }
  .fixed_headers th,
  .fixed_headers td {
    padding: 5px;
    text-align: left;
  }
  .fixed_headers td:nth-child(1),
  .fixed_headers th:nth-child(1) {
    min-width: 100px;
  }
  .fixed_headers td:nth-child(2),
  .fixed_headers th:nth-child(2) {
    min-width: 100px;
  }
  .fixed_headers td:nth-child(3),
  .fixed_headers th:nth-child(3) {
    width: 250px;
  }

  .fixed_headers td:nth-child(4),
  .fixed_headers th:nth-child(4) {
    width: 250px;
  }

  .fixed_headers thead {
    background-color:#EFF2F7;
    color: #47525E;
  }
  .fixed_headers thead tr {
    display: block;
    position: relative;
  }
  .fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    max-height: 300px;
  }
  .fixed_headers tbody tr:nth-child(even) {
    background-color: #F9FAFC;
  }

  @media (max-width: 480px) {
    .fixed_headers {
        width: 300px;
        table-layout: fixed;
        border-collapse: collapse;
    }
}

  
