<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="container card__container my-5 shadow-sm w-100 rounded">
        <div class="container">
            <div class="card-profile-image center">
                <img src="{{movimiento.logo}}" class="rounded-circle">
            </div>

            <!--Form Modificar Movimiento-->
            <form [formGroup]="movimientoForm" (ngSubmit)="modificar()" novalidate>
                <div class="container center">
                    <div class="input-group col-name">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <!--Nombre-->
                        <input type="text" class="form-control" formControlName="nombre" value="{{movimiento.nombre}}"
                            required="required" [ngClass]="{ 'is-invalid': submitted && form.nombre.errors }">
                        <div *ngIf="submitted && form.nombre.errors" class="invalid-feedback">
                            <div *ngIf="form.nombre.errors.required">
                                <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                    campo del nombre es obligatorio</label>
                            </div>
                        </div>
                        <!--End of Nombre-->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="">Dirección Web</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-internet-explorer"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="direccionWeb"
                                    value="{{movimiento.direccionWeb}}" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.direccionWeb.errors }">
                                <div *ngIf="submitted && form.direccionWeb.errors" class="invalid-feedback">
                                    <div *ngIf="form.direccionWeb.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo de la dirección web es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <!--Tabla de Telefonos-->
                            <div class="col-sm">
                                <p>Teléfonos</p>
                                <table class="fixed_headers" id="table">
                                    <thead>
                                        <tr>
                                            <th>Teléfono</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tel of telefonos; let i = index">
                                            <td>
                                                <input type="tel" class="form-control" value="{{tel}}"
                                                    required="required"
                                                    (change)="updateTelefonos(i, $event.target.value)">
                                            </td>
                                            <td (click)="removeTelefono(i)">
                                                <i class="fa fa-trash"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="my-2">
                                    <button (click)="addTelefono()" class="btn btn-secondary">
                                        <i class="fa fa-plus"></i>
                                        Agregar Teléfono
                                    </button>
                                </div>
                            </div>
                            <!--End of Tabla-->
                            <hr />
                            <label for="">Logo</label>
                            <div class="my-2"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <input type="file" accept="image/*" id="formImage" class="form-control-file"
                                            formControlName="logo" (change)="readLogo($event)" />
                                        <div class="image-preview mb-3" *ngIf="previewUrl">
                                            <img class="preview" [src]="previewUrl" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="">Provincia</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="provincia"
                                    value="{{movimiento.provincia}}" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.provincia.errors }">
                                <div *ngIf="submitted && form.provincia.errors" class="invalid-feedback">
                                    <div *ngIf="form.provincia.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo de la provincia es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <label for="">Cantón</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="canton"
                                    value="{{movimiento.canton}}" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.canton.errors }">
                                <div *ngIf="submitted && form.canton.errors" class="invalid-feedback">
                                    <div *ngIf="form.canton.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del canton es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <label for="">Distrito</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="distrito"
                                    value="{{movimiento.distrito}}" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.distrito.errors }">
                                <div *ngIf="submitted && form.distrito.errors" class="invalid-feedback">
                                    <div *ngIf="form.distrito.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del distrito es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <label for="">Señas</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="senas"
                                    value="{{movimiento.senas}}" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.senas.errors }">
                                <div *ngIf="submitted && form.senas.errors" class="invalid-feedback">
                                    <div *ngIf="form.senas.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del señas es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="center">
                    <button type="submit" class="btn btn-secondary center">Modificar Movimiento</button>
                </div>
            </form>
            <!--End of Form-->
        </div>
    </div>
</div>