<app-nav-menu></app-nav-menu>
<div class="containter-fluid center">
    <div class="row">
        <div class="col">
            <div class="container card__container my-5 shadow-sm rounded">
                <h2 class="text-center" id="title">Crear una Zona</h2>
                <p class="text-center">
                    <small class="text-muted"> Para agregar un nuevo miembro, debe ingresar la
                        información personal, de contacto y añadirlo a un grupo. </small>
                </p>
                <hr>
                <div class="center">
                    <form [formGroup]="zonaForm" (ngSubmit)="modificarZona()" novalidate>
                        <p class="pull-center"><b> Información General</b></p>
                        <div class="form-group">
                            <label for="">Ingrese el nombre de la zona </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-user"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" required="required"
                                    formControlName="nombre"
                                    [ngClass]="{ 'is-invalid': submitted && form.nombre.errors }">
                                <div *ngIf="submitted && form.nombre.errors" class="invalid-feedback">
                                    <div *ngIf="form.nombre.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo de nombre de la zona es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="separacion">
                        <div class="center">
                            <button type="submit" class="btn btn-secondary center">Crear Zona</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container card__container my-5 shadow-sm rounded">
                <h2 class="text-center" id="title">Crear una Rama</h2>
                <p class="text-center">
                    <small class="text-muted"> Para agregar un nuevo miembro, debe ingresar la
                        información personal, de contacto y añadirlo a un grupo. </small>
                </p>
                <hr>
                <div class="center">
                    <form [formGroup]="ramaForm" (ngSubmit)="modificarRama()" novalidate>
                        <p class="pull-center"><b> Información General</b></p>
                        <div class="form-group">
                            <label for="">Ingrese el nombre de la rama</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-user"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" required="required"
                                    formControlName="nombre"
                                    [ngClass]="{ 'is-invalid': submittedRama && formRama.nombre.errors }">
                                <div *ngIf="submittedRama && formRama.nombre.errors" class="invalid-feedback">
                                    <div *ngIf="formRama.nombre.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo de nombre de la rama es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <div class="my-2"></div>
                            <label for="">Escoja una zona</label>
                            <select required class="form-control"
                                formControlName="idZona">
                                <option *ngFor="let zona of zonas; let i = index" [value]="zonas[i].id">
                                    {{zonas[i].nombre}}
                                </option>
                            </select>
                        </div>
                        <hr>
                        <div class="center">
                            <button type="submit" class="btn btn-secondary center">Crear Rama</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>