.container h2 {
  padding-top: 20px;
}

.btn-default {
  background: transparent;
  border-style: solid;
  border-color: lightgray;
}

.card__container {
  min-height: fit-content;
  max-width: 900px;
}

.page-content {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  transition: padding-left 0.3s ease;
}

.form-control {
  max-width: 50%;
}

//Table============================
.fixed_headers {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: dashed 1px silver;
}
.fixed_headers th,
.fixed_headers td {
  padding: 5px;
  text-align: left;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  width: 200px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  width: 200px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  width: 200px;
}

.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
  width: 200px;
}

.fixed_headers td:nth-child(5),
.fixed_headers th:nth-child(5) {
  width: 200px;
}

.fixed_headers thead {
  background-color: #eff2f7;
  color: #47525e;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 300px;
}
.fixed_headers tbody tr:nth-child(even) {
  background-color: #f9fafc;
}

@media (max-width: 480px) {
  .fixed_headers {
    width: 300px;
    table-layout: fixed;
    border-collapse: collapse;
  }
}
//End of Table=========================