<app-nav-menu></app-nav-menu>
<div class="main-content">
    <div class="container mt-7">
        <div class="row">
            <!--Informacion General del Movimiento-->
            <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <img src="{{movimiento.logo}}" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <!--Numeros del movimiento-->
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading">30K</span>
                                        <span class="description">Miembros</span>
                                    </div>
                                    <div>
                                        <span class="heading">400</span>
                                        <span class="description">Grupos</span>
                                    </div>
                                    <div>
                                        <span class="heading">50</span>
                                        <span class="description">Ramas</span>
                                    </div>
                                    <div>
                                        <span class="heading">10</span>
                                        <span class="description">Zonas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Numeros-->
                        <div class="text-center">
                            <div>
                                <b>{{movimiento.nombre}}</b>
                            </div>
                            <div class="mt-4">
                                {{asesor.nombre}}
                            </div>
                            <div class="h5 mt-2">
                                <i class="ni business_briefcase-24 mr-2"></i>{{rol}}
                            </div>
                            <div class="h5 font-weight-300">
                                <i class="fa fa-map-marker"></i>{{movimiento.pais}}
                            </div>

                            <hr class="my-4">
                            <a href="{{movimiento.direccionWeb}}" appExternalUrl>Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Informacion-->
        </div>
    </div>
</div>