<app-nav-menu></app-nav-menu>
<div class="container bootdey">
    <div class="email-app mb-4">
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-inbox"></i> Aportes <span
                            class="badge badge-danger">{{this.aportes.length}}</span></a>
                </li>
            </ul>
        </nav>
        <main class="inbox">
            <div class="toolbar">
                <div class="btn-group">
                    <button type="button" (click) = "crearReporte()" class="btn btn-light">
                        <span class="fa fa-plus-square"></span>
                        <label class="ml-3">Crear Reporte</label>
                    </button>
                </div>
                <button type="button" class="btn btn-light" (click)="openConfirmationDialog(descargar)">
                    <span class="fa fa-trash-o"></span>
                    <label class="ml-3">Descargar Bandeja</label>
                </button>
                <ng-template #descargar let-modal mw-500>
                    <div class="modal-header">
                        <h4 class="modal-title">Descargar Bandeja de Aportes</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que desea vaciar la bandeja de aportes del presente mes?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="accept()">Continuar</button>
                    </div>
                </ng-template>
            </div>
            <ul class="messages" *ngFor="let aporte of aportes; let i = index" [value]="aportes[i].id_aporte">
                <li class = "message" (click)="openScrollableContent(longContent, i)">
                    <a>
                        <div class="actions">
                            <span class="action"><i class="fa fa-user-o"></i></span>
                            <span class="action"><i class="fa fa-envelope-o"></i></span>
                        </div>
                        <div class="header">
                            <span class="from">{{aportes[i].nombreMiembro}} - {{aportes[i].id_emisor}}</span>
                            <span class="date">
                                {{aportes[i].fecha|date: "dd/MM/yyyy HH:mm:ss"}}
                            </span>
                        </div>
                        <div class="title">
                            {{aportes[i].tipo}}
                        </div>
                        <div class="description">
                            {{aportes[i].contenido}}
                        </div>
                    </a>
                    <ng-template #longContent let-modal mw-500>
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="media">
                                    <img class="mr-3 rounded-circle img-thumbnail thumb-lg"
                                        src="https://isdalechiropractic.com/wp-content/uploads/2020/04/Gray-Circle.png"
                                        alt="Generic placeholder image" />
                                    <div class="media-body">
                                        <h5 class="mt-0 font-18 mb-1">{{aportes[i].nombreMiembro}}</h5>
                                        <p class="text-muted font-14"><ins>Cédula:</ins> {{aportes[i].id_emisor}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="my-2"></div>
                            <div class="ml-3">
                                <b>
                                    <span class="action"><i class="fa fa-envelope-o"></i></span>
                                    {{aportes[i].tipo}}
                                </b>
                            </div>
                            <p class="ml-3"> {{aportes[i].contenido}}</p>
                            <hr>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                (click)="modal.close('Close click')">Cerrar</button>
                        </div>
                    </ng-template>
                </li>
            </ul>
        </main>
    </div>
</div>