/*basic reset*/

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  position: relative;
  text-align: left;
}

/*buttons*/
#msform .action-button {
  width: 200px;
  background: #f97a77;
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #f97a77;
}

#msform .action-button-previous {
  width: 200px;
  background: #cfb4f5;
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #cfb4f5;
}

/*headings*/
.fs-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: white;
  background: black;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #f97a77;
  color: white;
}

//Table=======================
.fixed_headers {
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
  border: dashed 1px silver;
}
.fixed_headers th,
.fixed_headers td {
  padding: 5px;
  text-align: left;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 250px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 130px;
}

.fixed_headers thead {
  background-color: #eff2f7;
  color: #47525e;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 150px;
}
.fixed_headers tbody tr:nth-child(even) {
  background-color: #f9fafc;
}

@media (max-width: 480px) {
  .fixed_headers {
    width: 300px;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .fixed_headers td:nth-child(1),
  .fixed_headers th:nth-child(1) {
    min-width: 200px;
  }
  .fixed_headers td:nth-child(2),
  .fixed_headers th:nth-child(2) {
    min-width: 100px;
  }
}
//End of Table=============

/*Preview del Logo*/
.preview {
  height: 130px;
}

@media (max-width: 945px) {
  .preview {
    height: 100px;
  }
}

/*Reference: https://codepen.io/designify-me/pen/qrJWpG*/