<app-nav-menu></app-nav-menu>
<div class="containter-fluid center">
    <div class="row">
        <div class="col">
            <!--Container Consultar Zona-->
            <div class="container card__container my-5 shadow-sm rounded">
                <h2 class="text-center" id="title">Consultar una Zona</h2>
                <hr>
                <div class="center">
                    <!--Form Consultar Zona-->
                    <form [formGroup]="zonaForm" (ngSubmit)="consultarZona()" novalidate>
                        <div class="form-group">
                            <label for="">Seleccione el nombre de la zona </label>
                            <select required class="form-control" formControlName="idZona">
                                <option *ngFor="let zona of zonas_leader; let i = index" [value]="zonas_leader[i].id_zona">
                                    {{zonas_leader[i].nombre}}
                                </option>
                            </select>
                        </div>
                        <hr>
                        <div class="center">
                            <button type="submit" class="btn btn-secondary center">Consultar Zona</button>
                        </div>
                    </form>
                    <!--End of Form-->
                </div>
            </div>
            <!--End of Container-->
        </div>
        <div class="col">
            <!--Container Consular Rama-->
            <div class="container card__container my-5 shadow-sm rounded">
                <h2 class="text-center" id="title">Consultar una Rama</h2>
                <hr>
                <div class="center">
                    <!--Form Consultar Rama-->
                    <form [formGroup]="ramaForm" (ngSubmit)="consultarRama()" novalidate>
                        <div class="form-group">
                            <label for="">Seleccione el nombre de la zona</label>
                            <div class="my-2"></div>
                            <select required class="form-control" formControlName="idZona" (change)="getRamas($event.target.value)">
                                <option *ngFor="let zona of zonas; let i = index" [value]="zonas[i].id_zona">
                                    {{zonas[i].nombre}}
                                </option>
                            </select>
                            <label for="">Seleccione el nombre de la rama</label>
                            <div class="my-2"></div>
                            <select required class="form-control" formControlName="idRama">
                                <option *ngFor="let rama of ramas; let i = index" [value]="ramas[i]">
                                    {{ramas[i]}}
                                </option>
                            </select>
                        </div>
                        <hr>
                        <div class="center">
                            <button type="submit" class="btn btn-secondary center">Consultar Rama</button>
                        </div>
                    </form>
                    <!--End of Form-->
                </div>
            </div>
            <!--End of Container-->
        </div>
    </div>
</div>