<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="container card__container my-5 shadow-sm w-100 rounded">
        <div class="container">
            <h2 class="text-center" id="title">Crear un miembro</h2>
            <p class="text-center">
                <small id="passwordHelpInline" class="text-muted"> Para agregar un nuevo miembro, debe ingresar la
                    información personal, de contacto y añadirlo a un grupo. </small>
            </p>
            <hr>
            <!--Form Crear Miembro-->
            <form [formGroup]="miembroForm" (ngSubmit)="crearMiembro()" novalidate>
                <div class="row">
                    <!--Informacion Personal-->
                    <div class="col-sm">
                        <p class="pull-center"><b> Información Personal</b></p>
                        <div class="form-group">
                            <label for="">Ingrese el número de cédula</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-id-card"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="idMiembro" placeholder="Cédula"
                                    required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.idMiembro.errors }">
                                <div *ngIf="submitted && form.idMiembro.errors" class="invalid-feedback">
                                    <div *ngIf="form.idMiembro.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del
                                            número de cédulo del miembro es obligatorio</label>
                                    </div>
                                </div>
                            </div>

                            <label for="">Ingrese el nombre completo </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-user"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre"
                                    required="required" [ngClass]="{ 'is-invalid': submitted && form.nombre.errors }">
                                <div *ngIf="submitted && form.nombre.errors" class="invalid-feedback">
                                    <div *ngIf="form.nombre.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del
                                            nombre del miembro es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Contacto del Miembro-->
                        <p class="pull-center"><b> Contacto </b></p>
                        <div class="form-group">
                            <label for="">Ingrese el número de celular</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-phone"></span>
                                    </span>
                                </div>
                                <input type="tel" pattern="[0-9]{8}" class="form-control" formControlName="celular"
                                    placeholder="Celular" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.celular.errors }">
                                <div *ngIf="submitted && form.celular.errors" class="invalid-feedback">
                                    <div *ngIf="form.celular.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del celular del miembro es obligatorio</label>
                                    </div>
                                </div>
                            </div>

                            <label for="">Ingrese el correo electrónico</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-at"></span>
                                    </span>
                                </div>
                                <input type="email" class="form-control" formControlName="email" placeholder="Correo"
                                    required="required" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
                                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                                    <div *ngIf="form.email.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del correo electrónico del miembro es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Contacto-->
                        
                        <p class="pull-center"><b> Monitor</b></p>
                        <div class="form-group">
                            <label for="">¿Es candidato a monitor?</label>
                            <select class="form-control" formControlName="posible_monitor" required="required"
                                [ngClass]="{ 'is-invalid': submitted && form.posible_monitor.errors }">
                                <option>Sí</option>
                                <option selected>No</option>
                            </select>
                            <div *ngIf="submitted && form.posible_monitor.errors" class="invalid-feedback">
                                <div *ngIf="form.posible_monitor.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        El campo de la condición de monitor es obligatorio</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Informacion Personal-->

                    <!--Direccion Fisica-->
                    <div class="col-sm">
                        <p class="pull-center"><b> Dirección Física</b></p>
                        <div class="form-group">
                            <label for="">Ingrese la provincia</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="provincia"
                                    placeholder="Provincia" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.provincia.errors }">
                                <div *ngIf="submitted && form.provincia.errors" class="invalid-feedback">
                                    <div *ngIf="form.provincia.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo de la provincia es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <label for="">Ingrese el cantón</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="canton" placeholder="Cantón"
                                    required="required" [ngClass]="{ 'is-invalid': submitted && form.canton.errors }">
                                <div *ngIf="submitted && form.canton.errors" class="invalid-feedback">
                                    <div *ngIf="form.canton.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del cantón es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <label for="">Ingrese el distrito</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="distrito"
                                    placeholder="Distrito" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && form.distrito.errors }">
                                <div *ngIf="submitted && form.distrito.errors" class="invalid-feedback">
                                    <div *ngIf="form.distrito.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo del distrito es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                            <label for="">Ingrese las señas</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-location-arrow"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="senas" placeholder="Señas"
                                    required="required" [ngClass]="{ 'is-invalid': submitted && form.senas.errors }">
                                <div *ngIf="submitted && form.senas.errors" class="invalid-feedback">
                                    <div *ngIf="form.senas.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El
                                            campo de las señas es obligatorio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Direccion-->

                    <!--Agregar miembro a un grupo-->
                    <div class="col-sm">
                        <p class="pull-center"><b> Agregar a un grupo</b></p>
                        <div class="form-group">
                            <label for="">Escoja una zona</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionZona"
                                formControlName="idZona" (change)="getRamas($event.target.value)" required="required"
                                [ngClass]="{ 'is-invalid': submitted && form.idZona.errors }">
                                <option *ngFor="let zona of zonas; let i = index" [value]="zonas[i].id">
                                    {{zonas[i].nombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form.idZona.errors" class="invalid-feedback">
                                <div *ngIf="form.idZona.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        Debe indicar una zona para el miembro</label>
                                </div>
                            </div>
                            <div class="my-2"></div>
                            <label for="">Escoja una rama</label>
                            <select required class="form-control" formControlName="idRama"
                                (change)="getGrupos($event.target.value)" required="required"
                                [ngClass]="{ 'is-invalid': submitted && form.idRama.errors }">
                                <option *ngFor="let rama of ramas; let i = index" [value]="ramas[i].id">
                                    {{ramas[i].nombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form.idRama.errors" class="invalid-feedback">
                                <div *ngIf="form.idRama.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        Debe indicar una rama para el miembro</label>
                                </div>
                            </div>
                            <div class="my-2"></div>
                            <label for="">Escoja un grupo</label>
                            <select required class="form-control" formControlName="idGrupo" required="required"
                                [ngClass]="{ 'is-invalid': submitted && form.idGrupo.errors }">
                                <option *ngFor="let grupo of grupos; let i = index" [value]="grupos[i].id">
                                    {{grupos[i].nombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form.idGrupo.errors" class="invalid-feedback">
                                <div *ngIf="form.idGrupo.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        Debe indicar un grupo para el miembro</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Agregar a Grupo-->
                </div>
                <hr>
                <div class="center">
                    <button type="submit" class="btn btn-secondary center">Crear Miembro</button>
                </div>
            </form>
            <!--End of Form-->
        </div>
    </div>
</div>