<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="container card__container my-5 shadow-sm w-100 rounded">
        <div class="container">
            <h2 class="text-center" id="title">Ver Miembros</h2>
            <p class="text-center">
                <small id="passwordHelpInline" class="text-muted"> Para consultar los miembros de una zona, rama o
                    grupo,
                    debe indicar cuál de estas opciones consular.
                    Seguidamente, debe indicar la zona, rama y/o grupo según lo escogido.
                    Se mostrará el nombre, cédula, teléfono y correo de cada miembro. </small>
            </p>
            <hr>
            <label> Consultar por: </label>
            <!--Form Consultar Nodo-->
            <form [formGroup]="consultarForm" (ngSubmit)="consultar()" novalidate>
                <div class="form-group">
                    <div class="row">

                        <!--Consultar por Zona-->
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="nodo" value="checkZona"
                                    checked>
                                <label class="form-check-label">Zona</label>
                            </div>
                        </div>

                        <!--Consultar por Rama-->
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="nodo" value="checkRama">
                                <label class="form-check-label">Rama</label>
                            </div>
                        </div>

                        <!--Consultar por Grupo-->
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="nodo" value="checkGrupo">
                                <label class="form-check-label">Grupo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <!--Zona-->
                            <label for="">Escoja una zona</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionZona"
                                formControlName="idZona" (change)="getRamas($event.target.value)">
                                <option *ngFor="let zona of zonas; let i = index" [value]="zonas[i].id">
                                    {{zonas[i].nombre}}
                                </option>
                            </select>

                            <!--Rama-->
                            <div class="my-2"></div>
                            <label for="">Escoja una rama</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionRama"
                                formControlName="idRama" (change)="getGrupos($event.target.value)">
                                <option *ngFor="let rama of ramas; let i = index" [value]="ramas[i].id">
                                    {{ramas[i].nombre}}
                                </option>
                            </select>

                            <!--Grupo-->
                            <div class="my-2"></div>
                            <label for="">Escoja un grupo</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionGrupo"
                                formControlName="idGrupo">
                                <option *ngFor="let grupo of grupos; let i = index" [value]="grupos[i].id">
                                    {{grupos[i].nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary center">Consultar</button>
                </div>
            </form>
            <!--End of Form-->
            <hr>

            <!--Tabla de Miembros-->
            <div class="col-sm" *ngIf="show">
                <p>Miembros</p>
                <table class="fixed_headers">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cédula</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let miembro of miembros">
                            <td>{{miembro.nombre}}</td>
                            <td>{{miembro.id}}</td>
                            <td>{{miembro.celular}}</td>
                            <td>{{miembro.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--End of Tabla de Miembros-->
        </div>
        <hr>
    </div>
</div>