<app-nav-menu></app-nav-menu>
<div class ="center">
    <div class="containter-fluid">
        <div class="row" >
            <div class="col-">
                <div class="container card__container my-5 shadow-sm rounded">
                    <h2 class="text-center" id="title">Crear una Zona</h2>
                    <hr>
                    <div class="center">
                        <form role="form" method="post">
                            <p class="pull-center"><b> Información</b></p>
                            <div class="form-group">
                                <label for="">Ingrese el nombre del grupo </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fa fa-user"></span>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="username" placeholder="Nombre"
                                            required="required">
                                </div>
                            </div>
                        </form>
                    </div>
                    <h3>
                        
                    </h3>
                    <hr>
                    <div class="center">
                        <button type="button" class="btn btn-secondary center">Crear Zona</button>
                    </div>
                </div>
                </div>
                <div class="col-sm"> </div>
                <div class="col-">
                    <div class="container card__container my-5 shadow-sm rounded">
                        <h2 class="text-center" id="title">Crear una Rama</h2>
                        <hr>
                        <div class="center">
                            <form role="form" method="post">
                                    <p class="pull-center"><b> Información</b></p>
                                <div class="form-group">
                                    <label for="">Ingrese el nombre del grupo </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fa fa-user"></span>
                                            </span>
                                            </div>
                                        <input type="text" class="form-control" name="username" placeholder="Nombre"
                                            required="required">
                                </div>
                                <div class="my-2"></div>
                                <label for="">Escoja una zona</label>
                                <select class="form-control">
                                    <option>Zona 1</option>
                                    <option>Zona 2</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div class="center">
                        <button type="button" class="btn btn-secondary center">Crear Rama</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>