/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome.css"; 
@import '~ngx-toastr/toastr.css'; 


.card__container{
    min-height: 100vh;
    border: 1px dotted silver;
    border-left: 10px solid #cfb4f5;
}

@media (max-width: 480px) {
  .card__container{
    width: 400px;
  }
}


.page-wrapper.toggled .sidebar {
    left: -300px;
  }
  
  // angular perfect scrollbar style
  .sidebar .ps.ps--scrolling-y>.ps__rail-y,
  .sidebar>.ps.ps--scrolling-x>.ps__rail-x,
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent !important;
  }
  
  .sidebar .ps.ps--active-y>.ps__rail-y:hover,
  .sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
    width: 10px !important;
  }
  
  .ps__thumb-y {
    background-color: #fff !important;
    width: 6px!important;
    border-radius: 0px!important;
    opacity: .5;
  }
  
  .center{
    display: flex; 
    justify-content: center;
}

/*
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}*/