<!--Nav con el menu de funcionalidades-->
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-menu></app-menu>
  <main class="page-content">
    <nav class="navbar navbar-expand navbar-dark nav-tss">
      <a class="btn btn-outline-danger mr-1 mb-1" (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
      <img class="nav-saco-logo" src="../../../assets/img/the-social-seekers-logo.png">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class = "navbar-nav ml-auto d-flex justify-content-end notifications">
          <div class="dropdown">
            <a class="dropbtn">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">5</span>
            </a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </ul>
        <ul class="navbar-nav d-flex justify-content-end">
          <a href="#" class="nav-item active nav-link">Cerrar Sesión</a>
        </ul>
      </div>
    </nav>
    <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>
</div>