.page-wrapper {
  .page-content {
    display: inline-block;
    width: 100%;
    transition: padding-left 0.3s ease;

    @media screen and (min-width: 768px) {
      padding-left: 300px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: 0.5;
      display: none;

      &.show {
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  .sidebar {
    left: 0px;
  }

  &.toggled {
    .page-content {
      padding-left: 0;
    }
  }

  .attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}

.nav-saco-logo {
  max-height: 1.7em;
}

.nav-tss {
  background-color: #f97a77;
}

.collapse ul li a,
.form-inline a {
  color: white;
}

.collapse ul a:hover {
  color: gainsboro;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn { color: rgb(223, 222, 222)}

a .notification {
  position: absolute;
  top: 0;
}

span.badge {
  float: right;
  margin-top: 0px;
  margin-left: 0px;
}

.notifications{
  margin-right: 3%;

}