@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
        margin-bottom: 10%;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}

.card{
    border: none;
}

.desc-container{
    min-height: 35vh;
    max-width: 70vh;
    border: 1px dotted silver;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

.img-container{
    padding-top: 100px;
}