<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="container card__container my-5 shadow-sm w-100 rounded">
        <div class="container">
            <h2 class="text-center" id="title">Agregar miembro a un grupo</h2>
            <p class="text-center">
                <small id="passwordHelpInline" class="text-muted"> Para agregar un miembro a un grupo, debe escribir el
                    número de cédula
                    del miembro.
                    Si el miembro es parte del movimiento, se mostrarán las ramas disponibles
                    para el miembro (ramas a las que no pertence) y
                    los grupos de cada rama. </small>
            </p>
            <hr>
            <form [formGroup]="miembroForm" (ngSubmit)="consultar()" novalidate>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="">Ingrese el número de cédula</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-id-card"></span>
                                    </span>
                                </div>
                                <input  class="form-control" formControlName="idMiembro"
                                    placeholder="Cédula" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary center">Consultar</button>
                </div>
            </form>
            <hr>
            <form [formGroup]="miembroGrupoForm" (ngSubmit)="agregar()" novalidate *ngIf = "show">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="">Escoja una rama</label>
                            <select required class="form-control" formControlName="idRama"
                                (change)="getGrupos($event.target.value)" required="required"
                                [ngClass]="{ 'is-invalid': submittedAgregar && formMiembroGrupo.idRama.errors }">
                                <option *ngFor="let rama of ramas; let i = index" [value]="ramas[i].id_rama">
                                    {{ramas[i].nombre}}
                                </option>
                            </select>
                            <div *ngIf="submittedAgregar && formMiembroGrupo.idRama.errors" class="invalid-feedback">
                                <div *ngIf="formMiembroGrupo.idRama.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        Debe indicar una rama para el miembro</label>
                                </div>
                            </div>               
                            <div class="my-2"></div>
                            <label for="">Escoja un grupo</label>
                            <select required class="form-control" formControlName="idGrupo" required="required"
                                [ngClass]="{ 'is-invalid': submittedAgregar && formMiembroGrupo.idGrupo.errors }">
                                <option *ngFor="let grupo of grupos; let i = index" [value]="grupos[i].id">
                                    {{grupos[i].nombre}}
                                </option>
                            </select>
                            <div *ngIf="submittedAgregar && formMiembroGrupo.idGrupo.errors" class="invalid-feedback">
                                <div *ngIf="formMiembroGrupo.idGrupo.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        Debe indicar un grupo para el miembro</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="my-4"></div>
                <div class="center">
                    <button type="submit" class="btn btn-secondary center">Confirmar Cambio</button>
                </div>
            </form>
        </div>
    </div>
</div>