<app-nav></app-nav>
<div class="my-8"></div>
<div class="container card__container my-5 shadow-sm w-100 rounded">
  <div class="row login__row">
    <div class="col-md-6 d-flex">
      <img class="login__image align-self-center" src="../../../assets/img/logo.png" width="100%" alt="" />
    </div>
    <div class="col-sm d-flex">
      <div class="align-self-center">
        <div class="card-body card-size">
          <!--Form Iniciar Sesion-->
          <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <h2 class="text-muted text-center">Iniciar Sesión</h2>
            <div class="my-5">
              <div class="dropdown-divider my-4"></div>
            </div>

            <label for="">Movimiento: </label>
            <select required class="form-control" formControlName="idMovimiento" required="required"
              [ngClass]="{ 'is-invalid': submitted && form.idMovimiento.errors }">
              <option *ngFor="let movimiento of movimientos; let i = index" [value]="movimientos[i].id_movimiento">
                {{movimientos[i].nombre}}
              </option>
            </select>

            <div class="my-3">
              <div class="form-group">
                <label for="">Número de Cédula </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="fa fa-id-card"></span>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Cédula" formControlName="id"
                    [ngClass]="{ 'is-invalid': submitted && form.id.errors }">
                  <div *ngIf="submitted && form.id.errors" class="invalid-feedback">
                    <div *ngIf="form.id.errors.required">
                      <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                        cédula es obligatorio</label>
                    </div>
                  </div>
                </div>
                <div class="my-3"></div>
                <label for="">Contraseña</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="fa fa-lock"></span>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña" required="required"
                    formControlName="pass" [ngClass]="{ 'is-invalid': submitted && form.pass.errors }">
                  <div *ngIf="submitted && form.pass.errors" class="invalid-feedback">
                    <div *ngIf="form.pass.errors.required">
                      <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                        contraseña es obligatorio</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-secondary btn-lg btn-block my-3" type="submit">Iniciar
                  Sesión</button>
                <div class="d-flex justify-content-between">
                  <a>¿No tiene una cuenta? <a href="/registrar-miembro">Registrarse</a></a>
                </div>
                <div class="dropdown-divider my-4"></div>
              </div>
            </div>
          </form>
          <!--End of Form-->
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>