<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="container card__container my-5 shadow-sm w-100 rounded">
        <div class="container">
            <h2 class="text-center" id="title">Modificar Grupo</h2>
            <p class="text-center">
                <small class="text-muted"> Para modificar un grupo, debe indicar la zona, rama y
                    grupo respectivo.
                    Se puede modificar el nombre del grupo y los jefes o monitores del mismo. Asimismo, se puede definir
                    si el grupo
                    pasa de la fase de evaluación, en este caso se debe asignar al menos un jefe del grupo.
                </small>
            </p>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <!--Form Consultar Grupo-->
                    <form [formGroup]="grupoForm">
                        <div class="form-group">
                            <!--Zona-->
                            <label for="">Escoja una zona</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionZona"
                                formControlName="idZona" (change)="getRamas($event.target.value)">
                                <option *ngFor="let zona of zonas; let i = index" [value]="zonas[i].id">
                                    {{zonas[i].nombre}}
                                </option>
                            </select>
                            <!--Rama-->
                            <div class="my-2"></div>
                            <label for="">Escoja una rama</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionRama"
                                formControlName="idRama" (change)="getGrupos($event.target.value)">
                                <option *ngFor="let rama of ramas; let i = index" [value]="ramas[i].id">
                                    {{ramas[i].nombre}}
                                </option>
                            </select>
                            <!--Grupo-->
                            <div class="my-2"></div>
                            <label for="">Escoja un grupo</label>
                            <select required class="form-control" [(ngModel)]="selectedOptionGrupo"
                                formControlName="idGrupo">
                                <option *ngFor="let grupo of grupos; let i = index" [value]="grupos[i].id">
                                    {{grupos[i].nombre}}
                                </option>
                            </select>
                        </div>
                    </form>
                    <!--End of Form-->
                </div>
            </div>
            <div class="center">
                <button type="button" class="btn btn-secondary center" (click)="consultarGrupo()">Consultar</button>
            </div>
            <hr>

            <!--Form Modificar Grupo-->
            <form [formGroup]="grupoModificadoForm" (ngSubmit)="modificar()" novalidate *ngIf="show">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <!--Cambiar Fase-->
                            <div class="form-check" *ngIf="isMonitor">
                                <input class="form-check-input" type="checkbox" value="check"
                                    (change)="cambiarFase($event)">
                                <label class="form-check-label">Quitar de la Fase de Evaluación</label>
                            </div>
                            <!--Modificar Nombre del Grupo-->
                            <div class="my-4"></div>
                            <label for="">Nombre del Grupo</label>
                            <div class="input-group col-name">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="fa fa-edit"></span>
                                    </span>
                                </div>
                                <input type="text" class="form-control" value="{{grupo.nombre}}"
                                    formControlName="nombre" required="required"
                                    [ngClass]="{ 'is-invalid': submitted && formGrupo.nombre.errors }">
                                <div *ngIf="submitted && formGrupo.nombre.errors" class="invalid-feedback">
                                    <div *ngIf="formGrupo.nombre.errors.required">
                                        <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                            El nombre del grupo es obligatorio</label>
                                    </div>
                                </div>
                            </div>

                            <!--Modificar Encargado 1-->
                            <div class="my-4"></div>
                            <label for="">Primer {{ grupo.isMonitor == true ? 'monitor' : 'jefe' }} del grupo
                                (Obligatorio)</label>
                            <select required class="form-control" formControlName="idJefeNuevo1" required="required"
                                [ngClass]="{ 'is-invalid': submitted && formGrupo.idJefeNuevo1.errors }"
                                (change)="changeEncargado1($event.target.value)">
                                <option *ngFor="let encargado of encargados; let i = index" [value]="encargados[i].id">
                                    {{encargados[i].id}} - {{encargados[i].nombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && formGrupo.idJefeNuevo1.errors" class="invalid-feedback">
                                <div *ngIf="formGrupo.idJefeNuevo1.errors.required">
                                    <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i>
                                        El primer encargado es obligatorio</label>
                                </div>
                            </div>
                            <div class="my-2"></div>
                            <!--Container del Encargado 1-->
                            <div class="container-jefes">
                                <div class="card-profile-image center">
                                    <img src="https://isdalechiropractic.com/wp-content/uploads/2020/04/Gray-Circle.png"
                                        class="rounded-circle">
                                </div>
                                <p class="text-center"> {{encargado1.nombre}}
                                </p>
                                <hr>
                                <div class="row">
                                    <div class="col-sm">
                                        <div>
                                            <p>Número de Cédula</p>
                                            <p class="text-secondary">
                                                <i class="fa fa-id-card"></i>
                                                {{encargado1.id}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <p>Número de Celular</p>
                                            <p class="text-secondary">
                                                <i class="fa fa-phone"></i>
                                                {{encargado1.celular}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <p>Correo Electrónico</p>
                                            <p class="text-secondary">
                                                <i class="fa fa-at"></i>
                                                {{encargado1.email}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Container-->

                            <!--Modificar Encargado 2-->
                            <div class="my-4"></div>
                            <label for="">Segundo {{ grupo.isMonitor == true ? 'monitor' : 'jefe' }} del grupo
                                (Opcional) </label>
                            <select class="form-control" formControlName="idJefeNuevo2"
                                (change)="changeEncargado2($event.target.value)">
                                <option>Ninguno</option>
                                <option *ngFor="let encargado of encargados; let i = index" [value]="encargados[i].id">
                                    {{encargados[i].id}} - {{encargados[i].nombre}}
                                </option>
                            </select>

                            <div class="my-2"></div>
                            <!--Container del Encargado 2-->
                            <div class="container-jefes" *ngIf="encargado2">
                                <div class="card-profile-image center">
                                    <img src="https://isdalechiropractic.com/wp-content/uploads/2020/04/Gray-Circle.png"
                                        class="rounded-circle">
                                </div>
                                <p class="text-center"> {{encargado2.nombre}}
                                </p>
                                <hr>
                                <div class="row">
                                    <div class="col-sm">
                                        <div>
                                            <p>Número de Cédula</p>
                                            <p class="text-secondary">
                                                <i class="fa fa-id-card"></i>
                                                {{encargado2.id}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <p>Número de Celular</p>
                                            <p class="text-secondary">
                                                <i class="fa fa-phone"></i>
                                                {{encargado2.celular}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <p>Correo Electrónico</p>
                                            <p class="text-secondary">
                                                <i class="fa fa-at"></i>
                                                {{encargado2.email}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Container-->
                        </div>
                    </div>
                </div>
                <div class="my-4"></div>
                <div class="center">
                    <button type="submit" class="btn btn-secondary center">Modificar Grupo</button>
                </div>
            </form>
            <!--End of Form-->
        </div>
    </div>
</div>