.container h2{
	padding-top: 20px;
}

.btn-default {
	background:transparent;
	border-style: solid;
	border-color: lightgray;
}

.card__container{
    min-height: 85vh;
    max-width: 700px;
}

.page-content{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left .3s ease;

}

.rama{
    max-width: 50%;
}