<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <div class="container card__container my-5 shadow-sm w-100 rounded">
        <div class="container">
            <h2 class="text-center" id="title">Cambiar miembro de grupo</h2>
            <p class="text-center">
                <small id="passwordHelpInline" class="text-muted"> Para cambiar a un miembro de grupo, debe escribir el número de cédula
                    del miembro. 
                    Si el miembro es parte del movimiento, se mostrarán las ramas en las que está el miembro, 
                    el grupo del que se eliminará (según la rama escogida) y los demás grupos de la rama escogida. </small>

            </p>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="">Ingrese el número de cédula</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-id-card"></span>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Cédula"
                                required="required">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-secondary center">Consultar</button>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="">Ramas en las que está</label>
                        <select class="form-control rama">
                            <option>Rama 1</option>
                            <option>Rama 2</option>
                        </select>
                        <div class="my-4"></div>
                        <div class="row">
                        <div class="col-sm">
                            <label for="">Se elimina de grupo: </label>
                            <p>
                            <b>
                                Grupo Scouts
                            </b>
                            </p>
                        </div>
                        <div class="col-sm">
                        <label for="">Agregar a grupo:</label>
                        <select class="form-control">
                            <option>Grupo 1</option>
                            <option>Grupo 2</option>
                        </select>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="my-4"></div>
            <div class="center">
                <button type="button" class="btn btn-secondary center">Confirmar Cambio</button>
            </div>
        </div>
    </div>
</div>
